@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&family=Varela+Round&display=swap');

:root {
    --primary-color: #dce2aa;
    --second-color: #b4d2ba;
    --accent1-color: #4b543b;
    --accent2-color: #b57f50;

    --heading-font: 'Arial Black', serif;
    --paragraph-font: 'Signika Negative', serif;
    
    --nav-background-color: #8ed081;
    --nav-link-color: #b4d2ba;
    --nav-hover-link-color: #dce2aa;
    --nav-hover-background-color: #4b543b;
}

/* Body */

body {
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
}


/* Header */

header {
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 3px solid var(--nav-hover-background-color) ;
    
    
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: auto;
    height: auto;
    
}

h1, h2 {
    color: var(--nav-hover-background-color);
}

nav {
    padding-left: 5rem;
}

ul {
    display: flex;
    list-style: none;
}

ul li{
    flex: 1 1 100%;
   
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    
}


/*Main*/

.hero {
    position: relative;
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
    border-bottom: 2px solid var(--accent2-color);
    border-radius: 10px;
    padding: 10px;
}

.hero img {
    display: flex;
    width: 600px;
    height: auto;
    justify-content: center;
    
}

.hero h1 {
    position: absolute;
    background-color: var(--nav-hover-link-color);
    
}

.history {
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
    border-bottom: 2px solid var(--accent2-color);
    border-radius: 10px;
    padding: 10px;
}

/*Section*/

.adventures {
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
    border-bottom: 2px solid var(--accent2-color);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

section h2 {
    font-size: 25px;
    padding-left: 15px;
    padding-top: 5px;
}


/*Footer*/

footer {
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
    border-bottom: 2px solid var(--accent2-color);
    border-radius: 10px;
    padding: 20px;
    
}

footer p {
    margin-left: 250px;
}

footer nav {
    margin-left: 200px;
}



/* Contact Page */

#contactus {
    background-color: var(--nav-hover-link-color);
    width: auto;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    display: grid;
    border-style: double;
    
}

iframe {
    width: auto;
}

#employees {
    margin-top: 5px;
    background-color: var(--nav-hover-link-color);
    width: auto;
    padding: 10px;
    border-radius: 10px;
    border-style: double;
    display: grid;
}

form {
    margin-top: 10px;
    background-color: var(--nav-hover-link-color);
    width: auto;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    display: grid;
    border-style: double;
    
}

button:hover {
    background-color: darkgreen;
}

.rafting11 {
    width:500px;
    
}

/*Trips page*/

