@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&family=Varela+Round&display=swap');

:root {
    --primary-color: #dce2aa;
    --second-color: #b4d2ba;
    --accent1-color: #4b543b;
    --accent2-color: #b57f50;

    --heading-font: 'Arial Black', serif;
    --paragraph-font: 'Signika Negative', serif;
    
    --nav-background-color: #8ed081;
    --nav-link-color: #b4d2ba;
    --nav-hover-link-color: #dce2aa;
    --nav-hover-background-color: #4b543b;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-hover-link-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-background-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-background-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

