nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: #fff;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}

main img{
    width: 150px;
    height: auto;
    border: 5px solid black;
}

aside {
    border: 2px solid green;
}

aside h2 {
    color: forestgreen;
}

aside img {
    width: 200px;
    height: auto;
    border: 5px solid yellow;
    margin: 10px;
    padding: 5px;
    background-color: green;
}

aside p{
    color: black;
    padding: 20px;
    margin: 10px;
    background-color: yellow;
    border: 10px solid blue;
}

p{
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}